<footer id="footer" class="bg-light">
  <div class="contenu footer_contenu txt-blanc-all sm-py3 lg-py6 relative">
      <svg class="forme-footer" xmlns="http://www.w3.org/2000/svg" width="338" height="327" viewBox="0 0 338 327">
          <path
              d="M163.5,0h0A163.5,163.5,0,0,1,327,163.5V338a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V163.5A163.5,163.5,0,0,1,163.5,0Z"
              transform="translate(0 327) rotate(-90)" fill="#90d1df"></path>
      </svg>
      <div class="grid lg-c4 sm-c-gy3 lg-c-gx5 w100 sm-g-jic">
          <div>
              <img width="196" height="" src={{relURL "images/logo-footer.png"}} alt="École nationale d'ingénieurs de Brest">
              <div>
                  <div class="partage-article mt1 sm-mb2 sm-f-jcc">
                      <a class="social-follow-facebook" href="https://fr-fr.facebook.com/enibrest" target="blank"
                          title="Nous suivre sur Facebook" rel="noopener">
                          <img src={{relURL "images/facebook.svg"}} alt="Description" width="24" height="24">
                      </a>
                      <a class="social-follow-instagram" href="https://www.instagram.com/eni_brest/"
                          target="blank" title="Nous suivre sur Instagram" rel="noopener">
                          <img src={{relURL "images/instagram.svg"}} alt="Description" width="24" height="24">
                      </a>
                      <a class="social-follow-Youtube"
                          href="https://www.youtube.com/channel/UCOm7y24YGJyCay62vOkpZFg" target="blank"
                          title="Nous suivre sur Youtube" rel="noopener">
                          <img src={{relURL "images/youtube.svg"}} alt="Description" width="24" height="24">
                      </a>
                      <a class="social-follow-linkedin" href="https://www.linkedin.com/school/eni-brest"
                          target="blank" title="Nous suivre sur Linkedin" rel="noopener">
                          <img src={{relURL "images/linkedin.svg"}} alt="Description" width="24" height="24">
                      </a>
                  </div>
              </div>
          </div>
          <div class="sm-tac sm-mb2">
              <ul class="list-none">
                  <li>École Nationale d'Ingénieurs de Brest</li>
                  <li>945 avenue du Technopôle Brest-Iroise</li>
                  <li>29280 - Plouzané</li>
              </ul>
              <div class="btn--start sm-f-jcc">
                  <a title="Voir le plan d'accès" target="blank" href="https://goo.gl/maps/1qtfsRW1sepXUCV87"
                      class="tdu">Plan d'accès</a>
              </div>
          </div>
      </div>
  </div>
</footer>